<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list">
<super-navigate location="example#getting-started">
  <li class="item" onclick="supersonic.ui.drawers.close()">Inicio</li>
</super-navigate>
<super-navigate location="example#enfermedad/enfermedad">
  <li class="item" onclick="supersonic.ui.drawers.close()">Enfermedades</li>
</super-navigate>
	<super-navigate location="example#laboratorio/Laboratorio">
  <li class="item" onclick="supersonic.ui.drawers.close()">Laboratorios</li>
  </super-navigate>
  	<super-navigate location="example#proveedor/Proveedor">
  <li class="item" onclick="supersonic.ui.drawers.close()">Proveedor</li>
  </super-navigate>
  	<super-navigate location="example#salida/salida">
  <li class="item" onclick="supersonic.ui.drawers.close()">Stock</li>
  </super-navigate>
  <li class="item" onclick="supersonic.ui.drawers.close()">Consultorio</li>
  <li class="item" onclick="supersonic.ui.drawers.close()">Consulta</li>
  <li class="item" onclick="supersonic.ui.drawers.close()">Orden Análisis</li>
</ul>
