<div class="padding">
  <super-navbar>
    <super-navbar-title>
      Sistema APS
    </super-navbar-title>
  </super-navbar>
<p>Ingrese la información de la nueva enfermedad</p>
<script>
       var iddee = localStorage.getItem("idenfermedad");
       $('#idenferm').val(iddee);
       $.getJSON("http://192.168.43.190:8080/APSS/webresources/model.enfermedades/"+iddee,
        function (jsonData) { 
        //    Por cada uno creamos una fila de HTML
           
           $.each(jsonData, function (key, val) {
                //Añadimos la fila a la tabla
              $('#actualizarenf').val(jsonData.clase);
              $('#idactualizar').val(iddee);
            });
       }
        );

</script>
<input type="text" id="actualizarenf" placeholder="Actualizar enfermedad">
<input style="visibility:hidden" type="text" id="idactualizar" placeholder="ID actualizar">
   <button onclick="UpdateEnfermedades()">Actualizar enfermedad</button-->                                         

</div>
