 <script>
       var iddee = localStorage.getItem("idProveedor");
	   alert(iddee);
       $('#idProveedor').val(iddee);
       $.getJSON("http://192.168.43.47:8080/APSS/webresources/model.proveedor/"+iddee,
        function (jsonData) { 
        //    Por cada uno creamos una fila de HTML
           
           $.each(jsonData, function (key, val) {
                //Añadimos la fila a la tabla
              $('#nombre').val(jsonData.nombreProveedor);
              $('#direccion').val(jsonData.direccionProveedor);
			  $('#telefono').val(jsonData.telefonoProveedor);
              $('#email').val(jsonData.emailProveedor);
			  $('#codigo').val(iddee);
            });
       }
        );

</script>
 <div class="box-content">
 <br><br>
                                      <div class="form-group">
                                            <label class="control-label col-xs-3">Nombre: </label>
                                            <div class="col-xs-9">
                                                <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del Proveedor">
                                               <input id="codigo" name="codigo" type="hidden" class="form-control" placeholder="Nombre del Proveedor">
                                            
											</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-3">Dirección: </label>
                                            <div class="col-xs-9">
                                                <input id="direccion" type="text" class="form-control" placeholder="Dirección">
                                            </div>
                                        </div>

                                        <div class="form-group form-horizontal">
                                            <label class="control-label col-xs-3">Teléfono: </label>
                                            <div class="col-xs-3">
                                                <input id="telefono" name="telefono" type="tel" class="form-control" placeholder="Número de teléfono" >
                                            </div>
                                        </div>

                                        <div class="form-group form-horizontal">
                                            <label class="control-label col-xs-3">E-mail: </label>
                                            <div class="col-xs-3">
                                                <input id="email" name="email" type="text"  class="form-control" placeholder="Correo Electrónico">

                                            </div>
                                        </div>
                                        <br><button onclick="EditProveedor()" >Guardar</button> 
</div>
                                        
                                      
                                        