<super-navbar>
  <super-navbar-title>
    Ingresar APS
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <p>Bienvenidos a la aplicación movil de la Atención Primaria de la Salud (APS). Por favor ingrese sus datos de credenciales para acceder a la aplicación.</p>
  <input type="text" ng-model="username" placeholder="Usuario">
  <input type="password" ng-model="password" placeholder="Contraseña">

  <button onclick="supersonic.ui.initialView.dismiss()" class="button button-block button-balanced">Ingresar</button>

</div>
