<head>
  <meta charset="utf8">
   <script src="<a class="external free" title="http://code.jquery.com/jquery-latest.js" href="http://code.jquery.com/jquery-latest.js">http://code.jquery.com/jquery-latest.js</a>"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
        </script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!--        <script src="Funciones.js"></script>-->
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	   
</head>
<div class="padding">

  <super-navbar>
    <super-navbar-title>
     Bienvenido al Sistema APS
    </super-navbar-title>
  </super-navbar>
<script language="javascript">
		function doSearch()
		{
			var tableReg = document.getElementById('resultado');
			var searchText = document.getElementById('searchTerm1').value.toLowerCase();
			var cellsOfRow="";
			var found=false;
			var compareWith="";
 
			// Recorremos todas las filas con contenido de la tabla
			for (var i = 1; i < tableReg.rows.length; i++)
			{
				cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
				found = false;
				// Recorremos todas las celdas
				for (var j = 0; j < cellsOfRow.length && !found; j++)
				{
					compareWith = cellsOfRow[j].innerHTML.toLowerCase();
					// Buscamos el texto en el contenido de la celda
					if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1))
					{
						found = true;
					}
				}
				if(found)
				{
					tableReg.rows[i].style.display = '';
				} else {
					// si no ha encontrado ninguna coincidencia, esconde la
					// fila de la tabla
					tableReg.rows[i].style.display = 'none';
				}
			}
		}
	</script>
	<h3 ><img style="text-align:center; padding-rigth: 21px; font-weight:bold" 
  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAA4VBMVEX///8AZ8b+/v74+Pj7+/vv7+/o6Oizs7PNzc0HH34AQKBwlcCdpL4AHn8AVbRBid0FMZFaaJ+jyeoJbcg2a7xnhrOJpMSgs8q+0ew5d8twpd1Xndpnpt07brupr7c+ftJAjtRHktUtYLEuZ77Y2NhvoNmCuOSNv+abx+lLg8sybsRlgrC9vb10r+DA1vDY6PYtgtBLjtrL1+YNQ6AXdcsdUahukr3O4PVgdKkIKooSNI4XPJS+w86LsNx/jLs2SpSeut4/Yanh5O6MlrwoWbF/jqtmfLFKZqYsUqSzwd1Wi8sESgzWAAABLklEQVQ4jY3RbVeCMBTAcbYBKoUj6AHFAhUhVGAEZJJpFj3Y9/9A7VinF7WL7e3/dy5jV5J+DiYyxhJ48Hqpb1ZEBsG6eky2nWMFEkR/CIuihMWTPrEQQhoolKpGqEnIz3q3UWDl5ICQ1QMCk/+IzpfIl5C4Wx4UxreoIPFaIcviT9a9X0EinzJWWFb3zSeC3XKxzT2Pk+K9rYiWj3flR+wMPTrezlXRe+3qSRgPHEbrF+EEezwxgyCI3HrWEt1h38PryB3PWm3BX9jTvhnHQdSbnrXa6t8Bdq9vOs7g8rQHdLdvet5wNHJvhT2hccIKVpZAX9BgwZCV5/RI2OUsThlChgZ0KaXpkHcD6hwkjV0iWaTp0Pf3d7jJqNvQ+Z79i/OrOdj5CKL6vqrIv/snptsi/mfvho4AAAAASUVORK5CYII=" style="text-align:center; padding-rigth: 21px; font-weight:bold" />
  Laboratorio</h3 >
  <br>
  
<super-navigate location="example#nuevo-Laboratorio"><button  class="button button-block button-positive">Nuevo</button></super-navigate>	                       
     											<form>
                                                <div >
                                                    <div id="bus">
                                                      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS8wu-0UrjpMgJOhbHPP-InEUFgS4Pw0DgcTLemBCVVPZE3SiSpxQ"/> Buscar:
                                                        <input id="searchTerm1" type="text" onkeyup="doSearch()"class="form-control" placeholder="Busqueda.. " />
                                                    </div>
                                                </div>
                                                <br>
                                              <table id="resultado">
                                                
                                                <!-- Make a Header Row -->
                                                <thead> 
                                                    <tr>
                                                         <tr>
                                                        
                                                        <th style="padding-right:21px; font-weight:bold;">Cod.</th>
                                                        <th style="padding-right:21px; font-weight:bold;">Nombre</th>
                                                        <th style="padding-right:21px; font-weight:bold;">Dirección</th>
                                                        <th style="padding-right:21px; font-weight:bold;">Teléfono</th>
                                                        <th style="padding-right:21px; font-weight:bold;">Acciones</th>
                                                    </tr>
														
                                                </thead>
                                                <tbody>
                                                <tr> 
                                                    <script type="text/javascript"> 
                                                       $(function cargar() {
                                                      $.getJSON("http://192.168.43.47:8080/APSS/webresources/model.laboratorio",
                                                                function (jsonData) { 
                                                                //    Por cada uno creamos una fila de HTML
                                                                   
                                                                   $.each(jsonData, function (key, val) {
                                                                        //Añadimos la fila a la tabla
                                                                      $('<tr><td>' + val.idLaboratorio + '</td><td>' +
                                                                        val.nombreLaboratorio + '</td><td>' + 
                                                                        val.direccionLaboratorio + '</td><td>' +
                                                                        val.telefonoLaboratorio + '</td> <td>\n\
                                                                          <button class="button button-block button-positive" onclick="erase('+val.idLaboratorio+')">Borrar </button><super-navigate location="example#editar-Laboratorio"><button onclick="idtemporalLab('+val.idLaboratorio+')" class="button button-block button-positive">Editar</button></super-navigate></td></tr>').appendTo("#resultado");
                                                                  });
                                                               }
                                                                ); 

														});
														
                                                    </script>
                                                
                                                </tr>   
                                                </tbody>   
                                            </table>
</div>
